# Trata arquivos binários corretamente no Git
*.pbix    binary
*.pdf     binary
*.png     binary
*.jpg     binary
*.jpeg    binary

# Normaliza finais de linha para LF em todos os arquivos de texto
*.ipynb   text eol=lf
*.md      text eol=lf
*.py      text eol=lf
*.json    text eol=lf
*.csv     text eol=lf
*.txt     text eol=lf
